ul {
	list-style-type: "🔮";
}

input.todoCheckBox {
	width: 20px;
	height: 20px;
	/* border: 1px solid #e564ec; */
	accent-color: #c400ff;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}

input.todoCheckBox:checked {
	content:'✔';
	width: 20px;
	height: 20px;
	/* border: 1px solid #e564ec; */
	accent-color: #c400ff;
	border-radius: 4px;
	cursor: pointer;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
	background: grey;
    /* display: table-cell; */
    vertical-align: middle;
}

input.todoInput {
	width: 90%;
	border: 0;
	background-color: rgb(145, 215, 255);
	border-radius: 5px;

}

.tabClicked {
	background: rgb(127, 55, 186);
}

table.todoList {
	background: rgb(202, 198, 198);
	width: 100%;
}



tr:hover {
	background-color: rgb(253, 216, 202);
}

th.status {
	width: 50px;
}

th.content {
	width: 500px;
}

th {
	height: 70px;
	background: rgb(239, 140, 140);
}

.todoSpan {
	color: #c400ff;
}

.todoDone {
	color: grey;
	text-decoration: line-through;
}

h1 {
	color: #c400ff;
}

button.buttonSubmit {
    width: 2rem;
    height: 2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	float: right;
	background: url( "https://cdn-icons-png.flaticon.com/128/2680/2680985.png" ) no-repeat;
	background-size: contain;
}

button.buttonDeleteOne {
    width: 2rem;
    height: 2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	float: right;
	background: url( "https://cdn-icons-png.flaticon.com/128/8661/8661494.png" ) no-repeat;
	background-size: contain;
}

button.buttonDeleteAll {
	cursor: pointer;
	float: right;
}

button.buttonModify {
    width: 2rem;
    height: 2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	float: right;
	background: url( "https://cdn-icons-png.flaticon.com/128/1046/1046244.png" ) no-repeat;
	background-size: contain;
}

button.buttonModifyComplete {
	width: 1.2rem;
    height: 1.2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	background: url( "https://img.icons8.com/?size=100&id=11695&format=png" ) no-repeat;
	background-size: contain;
}

h1.noTodo {
	color: white;
	text-align: center;
}

input.inputModify {
	width: 80%;
}