ul {
	list-style-type: "🔮";
}

input.todoCheckBox {
	width: 20px;
	height: 20px;
	/* border: 1px solid #e564ec; */
	accent-color: #000000;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}

input.todoCheckBox:checked {
	content:'✔';
	width: 20px;
	height: 20px;
	/* border: 1px solid #e564ec; */
	accent-color: #000000;
	border-radius: 4px;
	cursor: pointer;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
	background: rgb(0, 0, 0);
    vertical-align: middle;
}

html:hover, body:hover {
	background: rgb(124, 124, 124);
}

input.todoInput {
	width: 90%;
	border: 0;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;

}

.tabClicked {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255)
}

table.todoList {
	background: rgb(255, 255, 255);
	width: 100%;
}

button:active {
	box-shadow: 2px 2px 0 rgb(255, 255, 255);
	position: relative;
	top:2px;
}


tr:hover {
	background-color: rgb(0, 0, 0);
}

th.status {
	width: 50px;
}

th.content {
	width: 500px;
}

th {
	height: 70px;
	background: rgb(0, 0, 0);
	color: white;
}

.todoSpan {
	color: #ff0000;
}

.todoDone {
	color: grey;
	text-decoration: line-through;
}

h1 {
	color: #ffffff;
}

button.buttonSubmit {
    width: 2rem;
    height: 2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	float: right;
	background: url( "https://cdn-icons-png.flaticon.com/128/2680/2680985.png" ) no-repeat;
	background-size: contain;
}

button.buttonDeleteOne {
    width: 2rem;
    height: 2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	float: right;
	background: url( "https://cdn-icons-png.flaticon.com/128/8661/8661494.png" ) no-repeat;
	background-size: contain;
}

button.buttonDeleteAll {
	cursor: pointer;
	float: right;
}

button.buttonModify {
    width: 2rem;
    height: 2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	float: right;
	background: url( "https://cdn-icons-png.flaticon.com/128/1046/1046244.png" ) no-repeat;
	background-size: contain;
}

button.buttonModifyComplete {
	width: 1.2rem;
    height: 1.2rem;
    border:none;
    border-radius:10%;
	cursor: pointer;
	background: url( "https://img.icons8.com/?size=160&id=u6BofCIYf5rg&format=png" ) no-repeat;
	background-size: contain;
}

h1.noTodo {
	color: white;
	text-align: center;
}

input.inputModify {
	width: 80%;
}

