<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
		<title>yback todolist cdn</title>
	</head>
	<body>
		<h1>Todo List</h1>
		<div id="app">
			<div>
				<input
					class="todoInput"
					@keyup.enter="addTodo"
					type="text"
					v-model.lazy="todoInput"
					placeholder="할 일을 입력하세요."
				>
				<button class="buttonSubmit" @click="addTodo"></button>
			</div>

			<div class="tabs">
				<button
					v-for="tab in tabList" 
					:key="tab.id"
					@click="initCurrentTab(tab.label)"
					:class="{ tabClicked: currentTabLabel === tab.label }"
				>
					{{ tab.label }}
				</button>
			</div>

			<ul class="todoList">
				<label class="allCheckLabel">
					<input type="checkbox" class="todoCheckBox" v-model="isAllChecked" @click="checkAll">
					전체 선택
				</label>

				<li class="liContents" v-for="todo in currentList" :key="todo.index">
					<span class="liContentInfo">
						<input class="todoCheckBox" type="checkbox" v-model="todo.isChecked">
					</span>
					<span class="liContent">
						<span :class="todo.status ? 'todoDone' : 'todoSpan'" v-if="!todo.modify">
							{{ todo.label }}
						</span>
						<button @click="moveTodo(todo.index)" v-if="!todo.modify">
							{{ getMoveButtonLabel(todo) }}
						</button>
						<input
							class="inputModify"
							v-if="todo.modify === true"
							v-model.lazy="todo.label"
							@keyup.enter="todo.modify = modifyComplete(todo.label)"
						>
						<button 
							class="buttonModifyComplete"
							v-if="todo.modify === true"
							@click="todo.modify = modifyComplete(todo.label)"
						></button>
						<button class="buttonDeleteOne" @click="deleteTodo(todo.index)"></button>
						<button
							class="buttonModify"
							@click="todo.modify = clickModifyButton(todo.label, todo.modify)"
						></button>
					</span>
				</li>
			</ul>
			<button @click="deleteChecked">
				체크 삭제
			</button>
			<button 
				class="buttonDeleteAll" 
				@click="deleteAll"
				v-if="currentTabLabel == '전체'"
			>
				초기화
			</button>
			<h1 class="noTodo" v-if="todos.length === 0">
				할! 일이 없습니다!
			</h1>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./js/MyVue.js"></script>
	</body>
</html>
