<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
		<title>yback todolist cdn</title>
	</head>
	<body>
		<h1>Todo List</h1>
		<div id="app">
			<div>
				<input
					class="todoInput"
					@keyup.enter="addTodo"
					type="text"
					v-model.lazy="todoInput"
					placeholder=" 할 일을 입력하세요."
				>
				<button 
					class="buttonSubmit"
					@click="addTodo"
				></button>
			</div>

			<div class="tabs">
				<button
					v-for="tab in tabList" 
					:key="tab.id"
					@click.prevent="currentTabLabel = tab.label"
					:class="{ tabClicked: currentTabLabel === tab.label }"
				>
					{{ tab.label }}
				</button>
			</div>

			<table class="todoList">
				<tr class="trContentsInfo">
					<th class="status">상태</th>
					<th class="content">내용</th>
				</tr>
				<tr 
					class="trContents"				
					v-for="todo in currentList"
					:key="todo.index"
				>
					<td class="tdContentInfo">
						<input
							class="todoCheckBox"
							type="checkbox"
							v-model="todo.status"
						>
					</td>
					<td class="tdContent">
						<span
							:class="{ todoDone : todo.status, todoSpan : !todo.status }"
							v-if="todo.modify === false"
						>
							{{ todo.label }}
						</span>
						<input
							class="inputModify"
							v-if="todo.modify === true"
							v-model.lazy="todo.label"
							@keyup.enter="todo.modify = modifyComplete(todo.label)"
						>
						<button 
							class="buttonModifyComplete"
							v-if="todo.modify === true"
							@click="todo.modify = modifyComplete(todo.label)"
						></button>
						<button
							class="buttonDeleteOne"
							@click="deleteTodo(todo.index)"
						></button>
						<button
							class="buttonModify"
							@click="todo.modify = clickModifyButton(todo.label, todo.modify)"
						></button>
					</td>
				</tr>
			</table>
			<button 
				@click="checkAll"
				v-if="currentTabLabel == '전체' || currentTabLabel == '미완료'"	
			>
				전체 완료 상태로 만들기
			</button>
			<button
				@click="deleteChecked"
				v-if="currentTabLabel != '미완료'"
			>
				완료된 항목 삭제하기
			</button>
			<button 
				class="buttonDeleteAll" 
				@click="deleteAll"
				v-if="currentTabLabel == '전체'"
			>
				전체 삭제
			</button>
			<h1
				class="noTodo"
				v-if="todos.length === 0"
			>
				할! 일이 없습니다!
			</h1>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./js/MyVue.js"></script>
	</body>
</html>
