<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
		<title>yback todolist cdn</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./js/TodoItem.js"></script>
		<script src="./js/TodoList.js"></script>
		<script src="./js/TodoInput.js"></script>
		<script src="./js/TodoListTabs.js"></script>
		<script src="./js/TodoListBody.js"></script>

	</head>
	<body>
		<h1>Todo List</h1>
		<div id="app">
			<todo-list-body></todo-list-body>
			<!-- <button @click="deleteChecked" v-if="currentTabLabel != '미완료'">
				체크 삭제
			</button>
			<button 
				class="buttonDeleteAll" 
				@click="deleteAll"
				v-if="currentTabLabel == '전체'"
			>
				초기화
			</button>
			<h1 class="noTodo" v-if="todos.length === 0">
				할! 일이 없습니다!
			</h1> -->
		</div>

		<script src="./js/MyVue.js"></script>
	</body>
</html>
